.img { 

    display: block;
    margin-left: auto;
    margin-right: auto 
} 

.navbar {
        width: 100%;
        font-size: 15px;
        height:70px; 
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #5392a8;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    color: #a9aaaa;
    font-size: 15px;

  }

#main-image {
    font-family: 'Montserrat', sans-serif;
    height: 580px;
    font-size: 25px;
    color: white;
    background: url(https://www.villanovo.fr/images/landing_pages/landing_56_133_1507643339.1920.jpg) center;
}


.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    opacity: 0.6;
    font-size: 15px;
    color: #5392a8;

  }

  /* Style footer */

footer{
  margin-top : 50px;
  border-top: 1px solid #a9aaaa;
  margin-left: auto;
  margin-right: auto ;
  width: 100%;
}



#steps ul {
  margin: 25px 0;

}
#steps ul li{
  width: 270px;
  float: left;
  padding-top: 140px;
  text-align: center;
  margin-right: 10px;
}
#steps h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#steps p{
  margin-bottom: 20px;
  color: black;
}
#step-1 {
  background: url('https://image.ibb.co/bB1wnQ/steps_icon_1_1.png') no-repeat top center;

}
#step-2 {
  background: url('https://image.ibb.co/ghFYZ5/steps_icon_2.png') no-repeat top center;
}
#step-3 {
  background: url('https://image.ibb.co/icgJ1k/steps_icon_3.png') no-repeat top center;
}

/* Style Cards */

.titreContainerCard{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.cardDestination{
  margin : 3px;
  margin-top: 30px;
  height: 235px;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top{
  width: 100%;
  height: 100%;

}
 
.card-title{
  font-size: 35px;
  margin-top : 40px;
  margin-bottom: 30px;
}

.card-img-overlay{
  opacity:0;
  color: white;
  transition: all 320ms ease;
}

.card-img-overlay:hover{
  opacity: 1;
  background-color: rgba(57, 65, 65, 0.788);
  -webkit-box-shadow: 6px 4px 3px 0px rgba(0,0,0,0.47); 
  box-shadow: 6px 4px 3px 0px rgba(0,0,0,0.47); 
  transition: all 320ms ease;

}

/* Style partie Admin */
.formAdmin{
  transform: translateY(90px);
  padding: 10px;
  text-align: left;
  width : 600px;
  margin-left: auto;
  margin-right: auto;
  color : white;
  background-color: #b4b5b6b6;
}
.titleForm{
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}


.contentPage{
  background: url(https://www.villanovo.fr/images/landing_pages/landing_56_133_1507643339.1920.jpg) center;
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  height: 100vh;
  z-index : 1;
}

.successMessage{
  background: #7ed67973;
  color : green;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top : 150px;
  width: 500px;
}

.sidebar {
  position: absolute;
  z-index: 5;
  width : 300px;
  background-color: #f8f9fa;
  flex: 0 0 200px;
  height: 100vh;
  display: inherit;
  flex-direction: column;
  text-align: left;
}

.titleSidebar{
  margin: 20px;
  padding:10px;
  color:black;
  text-align: center;
}

.linkSidebar{
  margin: 30px;
  color : black;
}

